/* 
#52489C
#4062BB
#59C3C3
#EBEBEB
#F45B69 
*/
.loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #222;
    z-index: 99999;
    cursor: pointer;
}


.bg-img {
    z-index: -1000;
    -webkit-filter: blur(8px);
    /* Safari 6.0 - 9.0 */
    filter: blur(8px);
}

.c1 {
    color: #4062BB;
}



.c2 {
    color: #EBEBEB;
}

body {
    background-color: #222222;
}


.mainPanel {
    /* position: absolute; */
    background-color: rgba(17, 17, 17, 0.95);
    /* opacity: 0.9; */
    width: 400px;
    height: 400px;
    border-style: none;
    /* border-radius: 0px; */
    overflow-y: auto;
}

.filterPanel {
    /* position: absolute; */
    background: transparent;
    /* background-color: rgba(40, 37, 38, 0.95); */
    margin-top: 50%;
    width: 200px;
    border-style: none;
    border-radius: 0px;
}

.modal-content {
    border-style: none;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filterSearch {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #EBEBEB;
}


.smallLogo {
    width: 100px;
    height: 100px;
}

.noborder {
    border-style: none !important;
    border-radius: 0px !important;
}


.btn.nohover:hover {
    /* here copy default .btn class styles */
    cursor: default !important;
    /* or something like that */
}

.modal-header {
    border-bottom: none
}


/* General layout and typography stuff */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

* {
    box-sizing: border-box;
    transition: all .3s ease
}

html {
    font-size: 16px
}

body {
    font-family: Open Sans, Verdana, sans-serif;
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    line-height: 1.45
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ad2626;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.adminMainPanel {
    
}